:root {
    --padding-column: 30px;
    --padding-row: 20px; 
}


body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.3;
    background-color: lightblue;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#about, #work, #contact {
    background-color: white;
    margin: 2px;
}

h2 {
    padding:50px;
    font-size: 2rem;
}

/* --------------------header-------------------- */
header {
    display: flex;
    justify-content: space-between;    
    align-items: flex-end;
    background-color: lightblue;
    padding-bottom: 2%;
}

header h1 {
    font-size: 35px;
    color: white;
    padding-left: 3%;
    border-bottom: 2px dotted white;
}

/* -----------------------nav bar------------------- */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    position: relative;
    right: 10%;
}

nav a {
    color: white;
    font-weight: bold;
    border-bottom: 2px dotted white;
}


/* --------------------banner image----------------------- */
.hero {
    height: 550px;
    background-image: url("../images/haute_stock_minimal_designer_banner.png");
    background-size: cover;
    background-position:center;
}

/* -------------------banner subtitle------------------- */
.hero h1 {
    background-color: lightblue;    
    color: white;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    right: 0%;
    top: 70%;
    padding: 10px;
}


/* --------------------about me------------------------- */
#about {
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-row);
    
}

#about h2 {
    width: 30%;
    text-align: center;
    padding: var(--padding-column);

}

#about-right {
    width: 70%;
    padding: var(--padding-column);
    display: flex;
}

#about p {
    padding: var(--padding-column);
}


/* ---------------------------Work----------------------- */
#work {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#work h2 {
    width: 30%;
    text-align: center;
    padding: var(--padding-column);

}

/* Setting up cards on right side of work section */

.card {
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    padding: var(--padding-column);
}

/* Setting up work1 card to occupy entire width */
#work1 {
    width: 100%;
    padding: 10px;
}

/* Setting up work2-5 card to occupy half width */
#work2, #work3, #work4, #work5 {
    width: 50%;
    padding: 10px;
}

/* Rescale images for work cards */
.work-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    border:2px solid lightblue;
}

/* Hover effect for work cards */
.work-image:hover {
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
}

/* Styling subtitles for work cards */
.work-title {
    position: relative;
    bottom: 100px;
    left: 0%;
    color:aliceblue;
    background-color: lightblue;
    width: 60%;
    padding: 10px 3px;
}

h3 {
    text-decoration: underline; 
}
h4 {
    font-size: 80%;
}


/* ---------------------------contact----------------------- */
#contact {
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-row);
    width: 100%;
}

#contact h2 {
    text-align:center;
    width: 30%;
    padding: var(--padding-column);
}

#contact ul {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

/* border line in the center */
#about-right, .card, #contact ul {
    border-left: 2px solid lightblue;
}

/* ---------------------------footer----------------------- */
footer {
    text-align: center;
    color:white;
}


/* for mobile */
@media screen and (max-width: 768px) {
    main,
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    header, header h1, nav {
        display:flex;
        flex-wrap:wrap;
        width: 100%;
        justify-content: space-around;
    }

    h2 {
        width: 100%;
        white-space: nowrap;
    }


    #about p, #work .card, #contact ul {
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
    }

    #work2, #work3, #work4, #work5 {
        width: 100%;
    }

    #about-right container {
        display:none;
    }
}
